*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: aliceblue;
	font-size: 16px;
	color: #fff;
	font-weight: 300;
}

#login-box {
	position:relative;
	margin: 5% auto;
	width: 600px;
	height: 400px;
	box-shadow: 0 2px 4px #4b4b4b
}