<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>login page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../static/css/login.css">
</head>
<body>
	<form method="post" autocomplete="off" th:action="@{/login}">
		<div id="login-box">
			<h1>ログイン</h1>
			<input type="text" name="email" placeholder="ユーザID" />
			<input type="text" name="password" placeholder="パスワード" />
			<input type="submit" name="login-button" value="ログイン" />
			<p th:text="${errorMsg}"></p>
		</div>
	</form>
</body>
</html>